/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navbar-nav {
        padding: 25px 0;
    }

    .navbar-nav .nav-item:first-child .nav-link {
        margin-left: 17px;
    }

    .navbar-nav .nav-item .nav-link {
        margin-left: 10px;
    }



    .bg_one {
        width: 235px !important;
        height: 505px !important;
    }

    .bg_two {
        right: 28px;
    }

    .speakers_text h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .social_wrap .follow {
        ;
        margin-left: 15px;
    }

    .fa.fa-linkedin.mr-30 {
        margin-right: 15px !important;
    }

    .speakers_text {
        padding-right: 50px !important;
    }

    .speakers_text span {
        font-size: 18px;
    }

    .event_button a {
        font-size: 24px;
    }

    .feedback_part .btn_left {
        left: 42% !important;
        top: 83% !important;
    }

    .feedback_part .btn_right {
        top: 83% !important;
        right: 42% !important;
    }

    .price_bg_one span {
        width: 90% !important;
    }

    .price_bg_two {
        right: 5px;
    }

    .pricing_arrow .btn_left {
        top: 42%;
        margin-left: 5px;
    }

    .pricing_arrow .btn_right {
        top: 52%;
        margin-left: 5px;
    }

    .sponsors_brand img {
        padding: 25px 20px;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    .navbar {
        padding: 30px;
    }

    .navbar-nav {
        padding-bottom: 30px;
        text-align: center;
        background: #6E06AE;
        margin-top: 15px;
        padding-top: 10px;
    }

    .navbar-nav .nav-item:first-child .nav-link {
        margin-left: 17px;
    }

    .navbar-nav .nav-item .nav-link {
        margin-left: 10px;
    }

    .navbar-nav .nav-item>.submenu {
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .nav-item.header_btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .header_btn a {
        font-size: 20px;
    }

    .banner_text {
        padding-top: 168px;
        margin-bottom: 25px;
    }

    .banner_text h2 {
        padding: 0 30px;
    }

    .timer {
        padding-bottom: 15px;
    }

    .count-down-timer {
        justify-content: center;
        margin-right: 0px;
    }

    .play_btn {
        justify-content: center;
        margin-bottom: 40px;
    }

    .bg_one {
        width: 235px !important;
        height: 579px !important;
    }

    .bg_two {
        right: 28px;
    }

    .festival_text {
        margin-top: 50px;
    }

    .fest_right_text h2 {
        text-align: center;
    }

    .p_one.pt-20 {
        margin-bottom: 15px;
    }

    .fest_address {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: 50px;
    }

    .addres_text {
        display: flex;
        flex-direction: column;
    }

    .speakers_text {
        margin-left: 10px;
        padding-right: 0 !important;
    }

    .speakers_text .date {
        width: 120px;
    }

    .speakers_text span {
        font-size: 18px;
    }

    .speakers_text .schedule {
        font-size: 15px;
        font-weight: 600;
    }

    .speakers_text h3 {
        font-size: 21px;
        font-weight: 600;
    }

    .speakers_social {
        position: absolute;
        bottom: -12px;
        left: 85px;
    }

    .social_wrap .fa {
        margin-left: 10px;
    }

    .social_wrap .follow {
        margin-left: 10px;
    }

    .fa.fa-linkedin.mr-30 {
        margin-right: 15px !important;
    }

    .single_event {
        padding-bottom: 115px;
    }

    .event_img {
        width: 20%;
    }

    .event_text.ml-30 {
        width: 75%;
    }

    .event_text h3 {
        font-size: 30px;
    }

    .event_detail span {
        font-size: 17px;
    }

    .event_info.one::before {
        left: 91%;
    }

    .event_button {
        position: absolute;
        left: 0%;
        top: 82%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        padding: 0 10px;
        text-align: center;
    }

    .event_button a {
        font-size: 24px;
        width: 100%;
    }

    .feedback_part .btn_left {
        left: 0% !important;
        top: 50% !important;
    }

    .feedback_part .btn_right {
        top: 50% !important;
        right: 0% !important;
    }

    .feedback_area {
        padding: 20px 20px;
    }

    .feedback_text p {
        font-size: 22px;
        text-align: justify;
    }

    .feedback_img {
        margin-top: 70px !important;
    }

    .feedback_icon {
        top: -38%;
        left: 50%;
        transform: translateX(-50%);
    }

    .price_bg_one span {
        width: 90% !important;
    }

    .price_bg_two {
        right: 5px;
    }

    .pricing_arrow .btn_left {
        top: 35%;
        margin-left: 10px;
    }

    .pricing_arrow .btn_right {
        top: 43%;
        margin-left: 10px;
    }

    .pricing_info {
        margin-left: 0;
    }

    .pricing_info h2 {
        width: 100%;
    }

    .first_name {
        width: 100% !important;
    }

    .last_name {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #plan {
        margin-bottom: 0;
    }

    .payment_method {
        display: flex;
        align-items: center;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .pay_text {
        width: 100% !important;
        text-align: center;
        margin-bottom: 15px;
    }

    .pay_images {
        width: 100%;
        text-align: center;
    }

    .payment_checkbox {
        margin-top: 15px;
    }

    .payment_checkbox p {
        font-size: 18px;
        margin-left: 20px;
    }

    .sponsors_brand img {
        padding: 25px 20px;
    }

    .footer_email input {
        width: 100%;
    }

    .footer_btn {
        right: 0%;
        z-index: 9;
    }

    .footer_icon.pt-60 {
        padding-top: 35px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .navbar {
        padding: 30px;
    }

    .navbar-nav {
        padding-bottom: 30px;
        text-align: center;
        background: #6E06AE;
        margin-top: 15px;
        padding-top: 10px;
    }

    .navbar-nav .nav-item:first-child .nav-link {
        margin-left: 17px;
    }

    .navbar-nav .nav-item .nav-link {
        margin-left: 10px;
    }

    .navbar-nav .nav-item>.submenu {
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .nav-item.header_btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .header_btn a {
        font-size: 20px;
    }

    .banner_text {
        padding-top: 168px;
        margin-bottom: 25px;
    }

    .banner_text h2 {
        padding: 0;
        font-size: 72px;
    }

    .timer {
        padding-bottom: 30px;
    }

    .count-down-timer {
        justify-content: center;
        margin-right: 0px;
    }

    .count-down-timer>div {
        margin-left: 0;
    }

    .play_btn {
        justify-content: center;
        margin-bottom: 40px;
    }

    .festival_part {
        padding: 50px 0;
    }

    .bg_one {
        width: 297px !important;
        height: 595px !important;
        top: -50px;
    }

    .bg_two {
        right: 28px;
    }

    .festival_date {
        margin-top: 25px;
    }

    .festival_text {
        margin-top: 50px;
    }

    .fest_right_text h2 {
        text-align: left;
    }

    .p_one.pt-20 {
        margin-bottom: 15px;
    }

    .fest_address {
        display: flex;
        width: 50%;
        justify-content: center;
        margin-left: 0;
        flex-direction: column;
    }

    .addres_text {
        display: flex;
        flex-direction: column;
    }

    .fest_address.ml-10 {
        margin-top: -30px;
        margin-left: 40px;
    }

    .speahers_part.bg_cover.pt-60.pb-100 {
        padding-bottom: 60px;
    }

    .single_speakers {
        justify-content: center;
    }

    .speakers_text {
        margin-left: 10px;
        padding-right: 0 !important;
    }

    .speakers_text .date {
        width: 160px;
    }

    .speakers_text span {
        font-size: 20px;
    }

    .speakers_text .schedule {
        font-size: 20px;
        font-weight: 600;
    }

    .speakers_text h3 {
        font-size: 32px;
        font-weight: 600;
    }

    .speakers_social {
        position: absolute;
        bottom: -12px;
        left: 160px;
    }

    .social_wrap .line {
        width: 70px;
    }

    .social_wrap .fa {
        margin-left: 30px;
    }

    .social_wrap .follow {
        margin-left: 10px;
    }

    .fa.fa-linkedin.mr-30 {
        margin-right: 15px !important;
    }

    .event_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .single_event {
        padding-bottom: 115px;
    }

    .event_img {
        width: 26%;
    }

    .event_text.ml-30 {
        width: 71%;
        margin-left: 10px;
    }

    .event_text h3 {
        font-size: 25px;
        margin-top: 0;
    }

    .event_info.one {
        margin-right: 40px;
    }

    .event_detail {
        margin-left: 10px;
    }

    .event_detail span {
        font-size: 17px;
    }

    .event_info.one::before {
        left: 115%;
    }

    .event_info_img {
        margin-left: 0;
    }

    .event_button {
        position: absolute;
        left: 0%;
        top: 82%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        padding: 0 10px;
        text-align: center;
    }

    .event_button a {
        font-size: 24px;
        width: 100%;
    }

    .feedback_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .feedback_part .btn_left {
        left: 0% !important;
        top: 55% !important;
    }

    .feedback_part .btn_right {
        top: 55% !important;
        right: 0% !important;
    }

    .feedback_area {
        padding: 20px 20px;
    }

    .feedback_text p {
        font-size: 22px;
        text-align: justify;
    }

    .feedback_img {
        margin-top: 70px !important;
    }

    .feedback_icon {
        top: -38%;
        left: 50%;
        transform: translateX(-50%);
    }

    .price_bg_one span {
        width: 92% !important;
        height: 515px;
    }

    .price_bg_two {
        right: 12px;
    }

    .pricing_detail h2 {
        margin-bottom: 0;
    }

    .pricing_arrow .btn_left {
        top: 23%;
        margin-left: 40px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .pricing_arrow .btn_right {
        top: 29%;
        margin-left: 40px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .pricing_info {
        margin-left: 0;
        padding-top: 0;
    }

    .pricing_info h2 {
        width: 100%;
        font-size: 30px;
    }

    .first_name {
        width: 100% !important;
    }

    .last_name {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #plan {
        margin-bottom: 0;
    }

    .payment_method {
        display: flex;
        align-items: center;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .pay_text {
        width: 100% !important;
        text-align: center;
        margin-bottom: 15px;
    }

    .pay_images {
        width: 100%;
        text-align: center;
    }

    .payment_checkbox {
        margin-top: 15px;
        justify-content: center;
    }

    .payment_checkbox p {
        font-size: 18px;
        margin-left: 20px;
    }

    .sponsors_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .sponsors_brand {
        padding-top: 40px;
    }

    .sponsors_brand img {
        padding: 25px 20px;
        width: 30%;
    }

    .footer_email input {
        width: 100%;
    }

    .footer_btn {
        right: 0%;
        z-index: 9;
    }

    .footer_icon.pt-60 {
        padding-top: 35px;
    }

    .footer_menu ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .footer_menu ul li a {
        margin: 0;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {


    .navbar {
        padding: 30px;
    }

    .header_logo img {
        width: 80%;
        margin-left: -20px;
    }

    .navbar-toggler {
        font-size: 20px;
        margin-left: auto;
        margin-right: -20px;
    }

    .navbar-nav {
        padding-bottom: 30px;
        text-align: center;
        background: #6E06AE;
        margin-top: 15px;
        padding-top: 10px;
    }

    .navbar-nav .nav-item:first-child .nav-link {
        margin-left: 17px;
    }

    .navbar-nav .nav-item .nav-link {
        margin-left: 10px;
        font-size: 20px;
    }

    .navbar-nav .nav-item>.submenu {
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .navbar-nav .nav-item>.submenu li a {
        font-size: 20px;
    }

    .nav-item.header_btn {
        margin-left: 0;
        margin-top: 10px;
    }

    .header_btn a {
        font-size: 20px;
    }

    .banner_text {
        padding-top: 168px;
        margin-bottom: 25px;
    }

    .banner_text p {
        font-size: 20px;
        letter-spacing: 15px;
        color: #fff;
    }

    .banner_text h2 {
        padding: 0;
        font-size: 40px;
    }

    .timer {
        padding-bottom: 30px;
    }

    .count-down-timer {
        justify-content: center;
        margin: 0 auto;
    }

    .count-down-timer h1 {
        font-size: 40px;
    }

    .count-down-timer>div {
        margin-left: 0;
    }

    .small,
    small {
        font-size: 65%;
        font-weight: 400;
        margin-left: 23px !important;
    }

    .hours.active {
        margin-left: 0;
    }

    .minutes.active {
        margin-left: 0;
    }

    .minutes.active p {
        right: -35%;
    }

    .seconds.active {
        margin-left: -5%;
    }

    .seconds.active p {
        right: -35%;
    }

    .play_btn {
        justify-content: center;
        margin-bottom: 40px;
        margin-top: -20px;
    }

    .play_btn span {
        font-size: 20px;
    }

    .play_btn .fa {
        font-size: 25px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .festival_part {
        padding: 50px 0;
    }

    .section_tile h3 {
        font-size: 34px;
    }

    .bg_one {
        width: 208px !important;
        height: 360px !important;
        top: -50px;
    }

    .bg_two {
        right: 28px;
    }

    .f_one {
        margin-top: 40px;
        margin-left: 40px;
        width: 80%;
    }

    .festival_date {
        margin-top: 25px;
    }

    .festival_date h3 {
        font-size: 60px;
    }

    .festival_text {
        margin-top: 30px;
    }

    .fest_right_text h2 {
        text-align: left;
        font-size: 25px;
    }

    .fest_address_wrap {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        padding: 0 15px;
    }

    .festival_text p {
        text-align: justify;
    }

    .p_one.pt-20 {
        margin-bottom: 15px;
    }

    .fest_address {
        display: flex;
        width: 100;
        justify-content: center;
        margin-left: 0;
        text-align: center;
    }

    .addres_text {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .fest_address.ml-10 {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        justify-content: start;
    }

    .speahers_part.bg_cover.pt-60.pb-100 {
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .speahers_part .section_tile h3 {
        font-size: 34px;
    }

    .single_speakers {
        justify-content: center;
        flex-direction: column;
    }

    .single_speakers.resss.pt-60 {
        padding-top: 30px;
    }

    .single_speakers.res.pt-60 {
        margin-top: 30px;
    }

    .speakers_text {
        padding-right: 0 !important;
        margin-top: 15px;
        text-align: center;
    }

    .speakers_text .date {
        width: 160px;
        margin: 0 auto;
    }

    .speakers_text span {
        font-size: 20px;
    }

    .speakers_text .schedule {
        font-size: 20px;
        font-weight: 600;
    }

    .speakers_text h3 {
        font-size: 32px;
        font-weight: 600;
    }

    .speakers_social {
        position: absolute;
        bottom: -50px;
        left: 5px;
        z-index: 9;
    }

    .social_wrap .line {
        width: 50px;
    }

    .social_wrap .fa {
        margin-left: 20px;
    }

    .social_wrap .follow {
        margin-left: 10px;
    }

    .fa.fa-linkedin.mr-30 {
        margin-right: 15px !important;
    }

    .event_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .scrollbar {
        margin-top: -30px;
        overflow-x: hidden;
    }

    .single_event {
        padding-bottom: 100px;
    }

    .event_img {
        width: 50%;
        margin-bottom: 15px;
    }

    .event_text.ml-30 {
        width: 100%;
        margin-left: 0;
    }

    .event_text h3 {
        font-size: 25px;
        margin-top: 0;
    }

    .event_location {
        display: flex;
        flex-direction: column;
    }

    .event_info.one {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .event_detail {
        margin-left: 10px;
    }

    .event_detail span {
        font-size: 20px;
        margin-right: 54px;
        margin-left: 10px;
    }

    .event_info.one::before {

        display: none;
    }

    .event_info_img {
        margin-left: 0;
    }

    .event_button {
        position: absolute;
        left: 0%;
        top: 88%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        padding: 0 10px;
        text-align: center;
    }

    .event_button a {
        font-size: 24px;
        width: 100%;
    }

    .feedback_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .row.feedback_slider {
        margin-top: -30px;
    }

    .feedback_btn {
        display: none;
    }

    .feedback_area {
        padding: 20px 20px;
    }

    .feedback_text p {
        font-size: 22px;
        text-align: justify;
    }

    .feedback_img {
        margin-top: 70px !important;
    }

    .feedback_icon {
        top: -38%;
        left: 50%;
        transform: translateX(-50%);
    }

    .price_bg_one span {
        width: 92% !important;
        height: 515px;
    }

    .price_bg_two {
        right: 12px;
    }

    .pricing_detail h2 {
        margin-bottom: 0;
    }

    .pricing_arrow {
        display: none;
    }

    .pricing_info {
        margin-left: 0;
        padding-top: 0;
    }

    .pricing_info h2 {
        width: 100%;
        font-size: 30px;
    }

    .first_name {
        width: 100% !important;
    }

    .last_name {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #plan {
        margin-bottom: 0;
    }

    .payment_method {
        display: flex;
        align-items: center;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .pay_text {
        width: 100% !important;
        text-align: center;
        margin-bottom: 15px;
    }

    .pay_images {
        width: 100%;
        text-align: center;
    }

    .payment_checkbox {
        margin-top: 15px;
        justify-content: center;
    }

    .payment_checkbox p {
        font-size: 18px;
        margin-left: 20px;
    }

    .sponsors_part.pt-100.pb-100 {
        padding: 50px 0;
    }

    .sponsors_brand {
        padding-top: 40px;
    }

    .sponsors_brand img {
        padding: 30px 8px;
        width: 32%;
        margin: 0;
    }
    .section_tile h3 {
        font-size: 26px;
    }
    .footer_email input {
        width: 100%;
    }

    .footer_btn {
        right: 0;
        z-index: 9;
        margin-right: 15px;
    }
    .footer_btn a {
        font-size: 18px;
        padding: 21.5px 20px;
    }
    .footer_icon.pt-60 {
        padding-top: 35px;
    }

    .footer_menu ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer_menu ul li a {
        margin-left: 15px;
    }
}