/*Google Font*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

button:focus {
    outline: 0;
}

.bg_cover {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.clr {
    clear: both;
}

.custom-container {
    padding: 0 70px;
}

:root {
    --themeColor: #0f2f44;
    --btn_color: linear-gradient(#ffe169, #ffa913);
}

/*ALL SECTION TITLE HERE*/
.section_tile {
    text-align: center;
}

.speahers_part .section_tile p {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}

.speahers_part .section_tile h3 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.section_tile p {
    font-size: 20px;
    color: var(--themeColor);
    text-transform: capitalize;
}

.section_tile h3 {
    font-size: 40px;
    color: var(--themeColor);
    font-weight: 700;
    text-transform: uppercase;
}

/*END OF COMMON CSS*/


/*=============================
    02.  HEADER CSS
==============================*/
.header_part {
    border-bottom: 1px solid #fff;
    position: absolute;
    width: 100%;
    z-index: 9;
}

.navbar {
    padding: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 30px 0;
}

.navbar-nav .nav-item .nav-link {
    font-size: 24px;
    margin-left: 35px;
    font-weight: 500;
    color: #fff;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffc107;
}


.navbar-nav .nav-item:first-child .nav-link {
    margin-left: 60px;
}

.navbar-toggler {
    color: #f1f1f1 !important;
    border: 0;
    font-size: 24px;
    margin-left: auto;
}

.nav-item.header_btn {
    margin-left: auto;
}

.header_btn a {
    font-size: 24px;
    text-transform: uppercase;
    background: var(--btn_color);
    color: #0f2f44;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar-nav .nav-item>.submenu {
    background: #6E06AE;
    text-transform: capitalize;
    width: 175px;
    padding: 10px;
    position: absolute;
    top: 88%;
    right: 20%;
    border-radius: 5px;
    border: 1px solid rgba(77, 77, 77, 0.986);
    transition: all .3s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    padding-left: 20px;
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item>.submenu li a {
    font-size: 24px;
    color: #fff;
    transition: all .3s linear;
    font-weight: 400;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.navbar-nav .nav-item>.submenu li a:hover {
    color: #ffc107;
}

.navbar-nav .nav-item>.submenu.active {
    opacity: 1;
    visibility: visible;
}

/*=============================
    02.  BANNER CSS
==============================*/

.banner_overlay {
    background: linear-gradient(to right, rgba(109, 13, 176, 0.6), rgb(65, 132, 208, 0.6));
    width: 100%;
    height: 100%;
}

.banner_text {
    padding-top: 250px;
    margin-bottom: 150px;
}

.banner_text p {
    font-size: 40px;
    letter-spacing: 20px;
    color: #fff;
}

.banner_text h2 {
    font-size: 80px;
    padding: 0 170px;
    color: #fff;
    font-weight: 700;
}


/*=============================
        TIMER CSS
==============================*/

.timer {
    padding-bottom: 50px;
}

.count-down-timer {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 25px;
    flex-direction: row;
}

.count-down-timer>div {
    min-height: 75px;
    min-width: 75px;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.count-down-timer h1 {
    font-size: 80px;
    background: var(--btn_color);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    margin-bottom: 0;
}

.count-down-timer p {
    font-size: 30px;
    color: transparent;
    background: var(--btn_color);
    -webkit-background-clip: text;
    font-weight: 700;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.days.active {
    position: relative;
}

.days.active p {
    position: absolute;
    right: -30%;
    top: 40%;
}

.hours.active {
    position: relative;
    margin-left: 7%;
}

.hours.active p {
    position: absolute;
    right: -30%;
    top: 40%;
}

.minutes.active {
    position: relative;
    margin-left: 7%;
}

.minutes.active p {
    position: absolute;
    right: -50%;
    top: 32%;
}

.seconds.active {
    position: relative;
    margin-left: 7%;
}

.seconds.active p {
    position: absolute;
    right: -55%;
    top: 30%;
}

/*************PLAY BUTTON CSS******/

.play_btn {
    display: flex;
    align-items: center;
    justify-content: end;
}

.play_btn span {
    font-size: 25px;
    color: #fff;
    margin-right: 10px;
}

.play_btn .fa {
    font-size: 30px;
    background: var(--btn_color);
}

.play_btn .fa {
    font-size: 30px;
    background: var(--btn_color);
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*=============================
     03. FESTIVAL CSS
==============================*/

.festival_part {
    padding: 100px 0;
}

.slide_dots_bg {
    position: absolute;
    top: -100px;
    left: -35px;
    z-index: -9;
}

.slide_dots_bg .dott {
    height: 575px;
}

.fest_shape {
    position: absolute;
    top: 104px;
    left: 220%;
}


/****************FESTIVAL LEFT CSS********************/

.single_slider {
    position: relative;
}

.bg_one {
    position: absolute;
    top: -100px;
    width: 285px !important;
    height: 580px !important;
    left: -25px;
}

.bg_two {
    position: absolute;
    right: 40px;
    top: 0;
}

.f_two {
    position: absolute;
    top: 0;
    left: 0;
    width: 83%;
}

.f_one {
    transform: translateY(0%);
    margin-top: 50px;
    margin-left: 50px;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    width: 83%;
}

.slick-dots {
    text-align: center;
    margin-bottom: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 5px;
}

.slick-dots li button {
    border: 1px solid #999999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-dots li.slick-active button {
    background: var(--btn_color);
    border: transparent;
}

/*************************** FESTIVAL RIGHT CSS ********************/

.festival_date {
    text-align: center;
    margin-top: -33px;
}

.festival_date h3 {
    font-size: 120px;
    color: transparent;
    background: url(../images/festivetextshape.png);
    -webkit-background-clip: text;
    font-weight: 700;
    background-position: 50%;
}

.festival_date span {
    font-size: 25px;
    color: #0f2f44;
    text-transform: capitalize;
    font-weight: 500;
}

.fest_right_text h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.festival_text p {
    font-size: 18px;
}

.p_two {
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.fest_address_wrap {
    display: flex;
    margin-top: 30px;
}

.fest_address {
    display: flex;
}

.addres_text p {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 12px;
    color: #222;
}

.addres_text span {
    font-size: 20px;
    margin-left: 10px;
    color: #222;
}


/*=============================
     03. SPEAKERS CSS
==============================*/

.single_speakers {
    display: flex;
    align-items: center;
    position: relative;
}

.speakers_text {
    text-align: left;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.speakers_text .date {
    background: var(--themeColor);
    text-align: center;
    border-radius: 5px;
    width: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.speakers_text .schedule {
    font-size: 20px;
    background: var(--btn_color);
    border-radius: 5px;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.speakers_text h3 {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.speakers_text span {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
}

.speakers_social {
    position: absolute;
    bottom: 5px;
    left: 125px;
}

.social_wrap {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.social_wrap .follow {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 30px;
}

.social_wrap .line {
    background: #f1f1f1;
    width: 50px;
    height: 2px;
    margin: 0 10px;
}

.social_wrap .fa {
    font-size: 16px;
    margin-left: 20px;
    color: #999999;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.social_wrap .fa:hover {
    color: #000;
}

/*=============================
     04. EVENT CSS
==============================*/

.single_event {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #f1f1f1;
    padding: 10px;
    transition: all .3s linear;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    position: relative;
}

.event_img {
    width: 13%;
}

.event_text h3 {
    font-size: 32px;
    color: var(--themeColor);
    margin-top: 8px;
    margin-bottom: 20px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.event_location {
    display: flex;
}

.event_info {
    display: flex;
    width: 320px;
    position: relative;
}

.event_info.one {
    margin-right: 20px;
}

.event_info.one::before {
    position: absolute;
    content: '';
    background: #f1f1f1;
    width: 1px;
    height: 52px;
    display: inline-block;
    top: 50%;
    left: 96%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.event_detail {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.event_detail span {
    font-size: 20px;
    color: var(--themeColor);
    transition: all .3s linear;
    margin-top: -10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.event_button {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.event_button a {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--themeColor);
    background: var(--btn_color);
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 700;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.single_event:hover {
    background: var(--themeColor);
}

.single_event:hover .event_text h3 {
    color: #fff;
}

.single_event:hover .event_detail span {
    color: #fff;
}

/*===================
    SCROLLBAR CSS
====================*/

/* div box */


.scrollbar {
    height: 100vh;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
}

/*=============================
     05. EVENT GALLERY CSS
==============================*/
.event_gall {
    position: relative;
}

.gall_bg_one {
    position: absolute;
    top: 43px;
    right: 0;
}

.gall_bg_one img {
    width: 428px !important;
    height: 675px;
}

.gal_bg_dot {
    position: absolute;
    top: 393px;
    right: 110px;
}

.gallery_wrapper {
    width: 100%
}

.single_gall {
    width: 215px !important;
    position: relative;
    margin: 0 10px;
}

.single_gall .gall_overlay {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(110, 7, 174, 0.7), rgb(75, 119, 205, 0.7));
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.gall_overlay a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.single_gall:hover .gall_overlay {
    opacity: 1;
    visibility: visible;
}

.gall_btn {
    text-align: center;
    display: flex;
    margin: 0 auto;
    margin-top: 40px !important;
    z-index: 9;
}

.gall_btn a {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--themeColor);
    background: var(--btn_color);
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/*=============================
     06. FEEDBACK CSS
==============================*/
.feedback_part {
    position: relative;
}

.feedback_area {
    border: 1px solid aliceblue;
    padding: 50px 21px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #fff;
    margin: 10px 0;
}

.feedback_text p {
    font-size: 26px;
    line-height: 35px;
    color: #444;
    font-weight: 400;
}

.feedback_img {
    position: relative;
    display: flex;
    justify-content: center !important;
}

.feedback_icon {
    position: absolute;
    top: 15%;
    right: 14%;
    background: #fff;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    box-shadow: 3px 0 12px 0 rgba(0, 0, 0, .1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.feedback_icon .fa {
    font-size: 20px;
    color: #ffa913;
    margin: 0 1px;
    padding: 10px 0;
}

.feedback_info h2 {
    font-size: 32px;
    margin-top: 20px;
}

.feedback_info span {
    font-size: 24px;
    color: #999;
    font-weight: 400;
}

.feedback_part .btn_left,
.btn_right {
    position: absolute;
    background: var(--btn_color);
    color: var(--themeColor);
    top: 54%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    cursor: pointer;
    z-index: 999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feedback_part .btn_left {
    left: 10px;
}

.feedback_part .btn_right {
    right: 10px;
}

.feedback_bg {
    position: absolute;
    top: -127px;
    z-index: -9;
    left: -265px;
}

.feedback_dot {
    position: absolute;
    top: 87%;
    left: 34%;
}

/*=============================
     07. PRICING CSS
==============================*/

.row.prc_border {
    border-bottom: 1px solid #f1f1f1;
}

.pricing_part {
    position: relative;
}

.pricing_slider {
    text-align: center;
    margin-top: 55px;
}

.single_price {
    position: relative;
    margin: 20px;
}

.price_bg_one span {
    background: #fff;
    width: 290px !important;
    height: 538px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    display: flex;
    margin-left: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.price_bg_two {
    background: #fff;
    padding: 30px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 94%;
    overflow: hidden;
    position: absolute;
    top: -10px;
    right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.pricing_detail h3 {
    font-size: 32px;
    color: var(--themeColor);
    margin-bottom: 10px;
}

.pricing_detail h2 {
    font-size: 60px;
    font-weight: 700;
    background: var(--btn_color);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 35px;
}

.pricing_detail ul {
    padding: 0;
    margin: 0;
}

.pricing_detail ul li {
    font-size: 24px;
    color: #444;
    margin-top: 5px;
}

.shape_one {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
}

.shape_two {
    position: absolute;
    display: inline-block;
    top: -50px;
    right: -70px;
}

.shape_three {
    position: absolute;
    display: inline-block;
    left: -4px;
    bottom: 8px;
    z-index: 9;
}

.pricing_arrow .btn_left,
.btn_right {
    position: absolute;
    background: var(--btn_color);
    color: var(--themeColor);
    top: 54%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    z-index: 999;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pricing_arrow .btn_left {
    top: 42%;
    margin-left: 10px;
}

.pricing_arrow .btn_left .fa {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.pricing_arrow .btn_right {
    top: 53%;
    margin-left: 10px;
}

.pricing_arrow .btn_right .fa {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*PRICING INFO*/

.pricing_info {
    margin-left: 40px;
}

.pricing_info h2 {
    font-size: 32px;
    width: 50%;
    display: inline-block;
    font-weight: 700;
    color: #ffa913;
    margin-bottom: 30px;
}

.pricing_info input {
    font-size: 20px;
    color: #999;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.first_name {
    width: 47%;
}

.last_name {
    width: 48%;
    margin-left: 25px;
}

.in_email {
    width: 100%;
}

.in_phone {
    width: 100%;
}

#plan {
    width: 100%;
    font-size: 20px;
    color: #999;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.payment_method {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.pay_text {
    width: 50%;
    text-align: left;
}

.pay_text h4 {
    font-size: 24px;
    color: #222;
}

.pay_images {
    width: 50%;
    text-align: right;
}

.payment_checkbox {
    display: flex;
    align-content: center;
    margin-top: 57px;
}

.payment_checkbox input {
    margin: 0;
    margin-top: 7px;
}

.payment_checkbox p {
    font-size: 20px;
    text-transform: capitalize;
    color: #444;
    margin-left: 10px;
}

.payment_btn {
    width: 100%;
    display: inline-block;
}

.payment_btn {
    width: 100%;
    display: inline-block;
    background: var(--btn_color);
    border: 0;
    margin-top: 25px;
}

.payment_btn a {
    font-size: 24px;
    color: var(--themeColor);
    font-weight: 700;
    padding: 15px;
}

/*=============================
     08. SPONSORS CSS
==============================*/

.sponsors_brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;
}

.sponsors_brand img {
    padding: 40px 20px;
    border: 1px solid #eee;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sponsors_brand img:hover {
    background: #eee;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

}

/*=============================
     09. FOOTER CSS
==============================*/

.section_tile.footer_text p {
    color: #ffa913;
}

.section_tile.footer_text h3 {
    color: #fff;
}

.footer_info {
    text-align: center;
}

.footer_email input {
    width: 50%;
    font-size: 20px;
    text-transform: capitalize;
    padding: 20px 15px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
    position: relative;
    color: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer_btn {
    position: absolute;
    top: 0;
    right: 25%;
}

.footer_btn a {
    font-size: 24px;
    color: #fff;
    background: linear-gradient(90deg, #ffe169, #ffa913);
    padding: 17px 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.footer_icon .fa {
    margin: 5px;
    font-size: 20px;
    color: var(--themeColor);
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer_icon .fa:hover {
    background: var(--btn_color);
}

.footer_menu ul {
    margin: 0;
}

.footer_menu ul li {
    display: inline-block;
}

.footer_menu ul li a {
    font-size: 20px;
    color: #fff;
    margin: 0 18px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.footer_menu ul li a:hover {
    color: #ffa913;
}

.footer_copyright {
    border-top: 1px solid #1f3b4d;
    padding-top: 30px;
}

.footer_copyright span {
    color: #fff;
    font-size: 16px;
}